body{
  /* overflow-y: hidden; */
}
section:not(.active){
  display: none;
}

.pop-header{
  display: none;
  position: fixed !important;
  top: 0;
  z-index: 3;
}
.card-table{
  overflow-y: scroll;
}
#pombe-image {
  max-height: 250px;
}

#Pimage {
  max-height: 250px;
}
.time{
  color: #fefefe;
}
.clickable-card{
  box-shadow: 5px 5px #B0BEC5 !important;
  z-index: 5;
  transition: 1s ease-in-out;
}

.clickable-card:hover{
  cursor: pointer;
  transform: scale(1.1);
}
#product-table_wrapper{
  width: 50%;;
}
.no-display{
  display: none !important;
}
.stock-entry{
  display: none;
}
/*change cursor when hover*/
#product-tbody > tr:hover{
  cursor: pointer;
}